<div id="form-container">
    <h3>Add Todo</h3>
    <div class="form-content">
        <form>
            <div class="form-group">
                <label for="note">Note: </label>
                <input type="text" required name="note" class="form-control" id="note" placeholder="Enter your todo note here" [(ngModel)]="todo.note" #note="ngModel">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
            {{todo.note}}
        </form>
    </div>

</div>